
.feature-list, .selected-features { 
    display: flex; flex-wrap: wrap; gap: 5px; 
}
    
.feature-tag {
    border: 1px solid green; border-radius: 10px; padding: 2px 10px; cursor: pointer;
}
    
.selected-slot { 
    margin: 5px 0; 
}

.drop-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.drop-slot {
  border: 2px dashed #aaa;
  padding: 10px;
  border-radius: 8px;
  min-width: 180px;
  background-color: #f9f9f9;
}

.drop-slot.dragover {
  background-color: #e0ffe0;
  border-color: green;
}

.feature-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.feature-tag {
  border: 1px solid green;
  border-radius: 10px;
  padding: 6px 10px;
  cursor: grab;
  background-color: #e8f8e8;
  user-select: none;
}

body {
    background-color: white;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: small;
    padding: 15px;
}

h1 {
    color: #177991;
    font-weight: 600;
    font-size: 1.5em;
}

p, input {
    color: #6F6F79;
    font-family: "Hanken Grotesk", sans-serif;
}

button {
    background-color: #177991;
    width: 120px;
    color: white;
    border: none;
    border-radius: 16px;
    padding: 8px;
    font-size: 1em;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    font-family: "Hanken Grotesk", sans-serif;
}

input[type="file"] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 16px;
    border: 1.5px dashed #D9D9D9;
    border-radius: 16px;
    color: #6F6F79;
    cursor: pointer;
}

#parallel-coords {
    width: 400px;
 /* Adjust as needed */
    margin-top: 20px;  /* Add some margin to the top */
    overflow: visible; /* Allow the content to overflow if necessary */
    position: relative;
    border: 1.5px solid #D9D9D9;
    border-radius: 16px;
    color: #6F6F79;
    cursor: pointer;
    padding: 15px 15px 10px 15px;
}
