<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>K-Means Clustering</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <h1>Data Visualization</h1>
    <form id="upload-form" enctype="multipart/form-data">
        <label for="csv_file">Upload CSV:</label>
        <input type="file" id="csv_file" name="csv_file" accept=".csv" required>
        <button type="submit">Upload</button>
    </form>

    <!-- K-Means Section -->
    <div class="section">
        <h2>K-Means Clustering</h2>

        <!-- Feature selection for K-Means clustering -->
        <label for="x-feature">Select X Feature</label>
        <select id="x-feature"></select>

        <label for="y-feature">Select Y Feature</label>
        <select id="y-feature"></select>

        <br><br>

        <!-- K-Means Scatter Plot -->
        <canvas id="clusterChart"></canvas>
    </div>

    <!-- Parallel Coordinates Section -->
    <div class="section">
        <h2>Parallel Coordinates</h2>
        <!-- Chart for Parallel Coordinates -->
        <div id="chart"></div>
    </div>


    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="module" src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>

